@import url('https://fonts.googleapis.com/css?family=Poppins');

/*Color pallete that we use throughout the application #016b69*/
:root {
    --primary-color: #20c1f2;
    --primary-color-darken: #007DA3;
    --error-color: #f44336ff;
    --error-color-darken: #f21c0d;
    --secondary-color: #e85b34;
    --secondary-color-darken: #b33a19;
    --warning-color: #ff9800;
    --warning-color-darken: #d68100;
    --info-color: #2196f3ff;
    --info-color-darken: #0c80df;
    --gray: #808080;
    --white: #ffffff;
    --light-gray: #d3d3d3;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content {
    padding-top: 1.1rem;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color-darken);
}

.btn-primary {
    background-color: var(--primary-color) !important;
    color: var(--white) !important;
}

    .btn-primary:hover, .btn-primary-active {
        background-color: var(--primary-color-darken) !important;
    }

.btn-secondary {
    background-color: var(--secondary-color) !important;
    color: var(--white) !important;
}

    .btn-secondary:hover {
        background-color: var(--secondary-color-darken) !important;
    }

.btn-warning {
    background-color: var(--warning-color) !important;
    color: var(--white) !important;
}

    .btn-warning:hover, .btn-warning-active {
        background-color: var(--warning-color-darken) !important;
    }

.btn-info {
    background-color: var(--info-color) !important;
    color: var(--white) !important;
}

    .btn-info:hover, .btn-info-active {
        background-color: var(--info-color-darken) !important;
    }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }
