@inherits LayoutComponentBase

<div class="page">
    <CascadingAppState>
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <Header />
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </CascadingAppState>
</div>

<MudThemeProvider Theme=@currentTheme />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
    MudTheme currentTheme = new MudTheme
        {
            Typography = new Typography
            {
                Default = new Default()
                {
                    FontFamily = new[] { "Poppins" }
                }
            },

            Palette = new PaletteLight
            {
                Primary = "#20c1f2",
                Secondary = "#e85b34"
            }
        };
}